/* Editor Pane */

#ide-pane-editor .CodeMirror-lines {
    padding-bottom: 75vh !important;
}

#ide-pane-editor .CodeMirror-cursor {  /* fancy cursor*/
    min-width: 2px;
    background: linear-gradient(90deg, #666, transparent);
    border-left-color: #999;
}

#ide-pane-editor .CodeMirror-activeline {
    outline: 1px solid #888;
}
#ide-pane-editor .CodeMirror-activeline-background {
    background: #fff8;
}

#ide-pane-editor .CodeMirror-dialog {
    background: #fbfbfbef;
    padding: .5em 3em;
    font-family: sans-serif;
    font-size: 13px;
    font-style: italic;
}

#ide-pane-editor .CodeMirror-search-field {
    margin: 0 1em;
    width: 20em !important;
    max-width: 33%;
    border: 1px solid #ccc;
    padding: 3px;
}

#ide-pane-editor .cm-searching {
    background: rgba(182, 182, 0, .4);
}

#ide-pane-editor .cm-searching.CodeMirror-selectedtext {
    background: rgba(255, 240, 0, .8);
}

#ide-pane-editor div.CodeMirror span.CodeMirror-matchingbracket {
    color: mediumpurple;
    box-shadow: inset 0px 0px 1px 0px black;
    padding-bottom: 2px;  /* this is typeface-dependent... */
}

.ide-editor-dialog {
    position: absolute;
    z-index: 9; /* above cm gutter */
    top: 0;
    left: 0;
    width: 100%;
    background: #fffc;
    backdrop-filter: blur(3px);
}

.ide-editor-dialog-content {
    position: absolute;
    top: 50%;  /* center vertically */
    transform: translateY(-50%);
    margin: 0;
    line-height: 0;
    padding-left: 1em;    
}

.ide-editor-dialog input {
    margin-left: 0.5em;
}

.ide-editor-dialog .search-nav-up,
.ide-editor-dialog .search-nav-down {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    border: none;
}
.ide-editor-dialog .search-nav-up {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"> <polygon points="0,10 16,10 8,0"/> </svg>');
}
.ide-editor-dialog .search-nav-down {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"> <polygon points="0,0 16,0 8,10"/> </svg>');
}
