*.ls.js
*.ne.js
src/rich.html
src/hub.html
src/index.dev.html
node_modules
bower_components
/data/scratch
/data/snapshots
/data/**/connect-info.json
/data/*.tar
.*.swp
*.bundle.js
*.app
*.icns
/dist
/npm-link
/build
.DS_Store
.vercel
_npmlink

/bin/xzminidec.wasm

# nanoTex has its own repo
/packages/nanotex

# This has to be built by nanoTeX
/bin/tex