
.synctex-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

rect.highlight {
    fill: rgba(0, 255, 0, 0.3);
    stroke-width: 4px;
    stroke: rgba(0, 255, 0, 0.2);
}

rect.cursor {
    fill: rgba(0, 0, 255, 0.1);
    stroke-width: 4px;
    stroke: rgba(0, 0, 255, 0.06);
}

rect.debug-trace {
    fill: none;
    stroke-width: 1px;
    stroke: rgba(255, 0, 0, 0.5);
}

rect.debug-trace.type-vertical {
    stroke: rgba(0, 0, 255, 0.3);
}

rect.debug-trace.element {
    stroke: rgba(255, 0, 255, 0.5);
}

iframe.viewer--html {
    width: 100%;
    height: 100%;
    border: none;
}