html, body {
    overscroll-behavior: none;
}

body {
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

/* IDE Layout */

div.ide-layout {
    display: flex;
    width: 100%;
    height: 100%;
}

div.ide-pane {
    flex-basis: 80em;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    height: 100%;
    overflow: auto;
}

div.ide-pane, div.ide-pane * {
    overscroll-behavior: contain;
}

div.ide-pane .CodeMirror {
    background: #eee;
    width: 100%;
    height: 100%;
}

div.ide-pane:focus {
    outline: none;
}

div.ide-pane > .ide-pane-focus-indicator {
    display: none;
}

div.ide-pane:focus > .ide-pane-focus-indicator {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(0, 0, 255, 0.5);
    margin-bottom: -2px;
    width: 100%;
}

div.gutter.gutter-horizontal {
    flex-basis: 4px;
    flex-shrink: 0;
    flex-grow: 0;    
    cursor: col-resize;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #aaa;
}

/* Project View */

.project-view {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-view .project-files {
    flex-grow: 1;
}

.project-header div.bar {
    display: flex;
    flex-direction: row;
    background: #f8f8f8;
    color: #666;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 0 2px 5px;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}

.project-header div.bar > .name {
    flex-grow: 1;
    margin: 2px 0 2px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}

.project-header div.bar.editing {
    padding-right: 5px;
}

.project-header div.bar.editing > .name {
    padding-right: 2px;
    text-overflow: initial;
}

.project-header button.badge {
    background: none;
    border: none;
    cursor: pointer;
}

.project-header button.hammer {
    font-size: 150%;
    margin-top: -0.08em;
    line-height: 1px;
}

.project-header button.hammer.ok {
    color: forestgreen;
}
.project-header button.hammer.error {
    color: #a11;
}
.project-header button.hammer.in-progress {
    color: #ffbc02;
}

.project-header button.pencil {
    font-size: 110%;
    margin-top: 0.2em;
    line-height: 1px;
    padding: 0;
    margin-left: -0.3em;
    margin-right: -0.2em;
    opacity: 0.5;
}

.project-header button.pencil:hover {
    opacity: 0.9;
}

.project-header button.p2p.disconnected {
    color: #a11
}
.project-header button.p2p.connecting,
.project-header button.p2p.disconnecting {
    color: #ffbc02;
}
.project-header button.p2p.connected {
    color: green;
}

.project-header ul[role=menu] {
    margin-top: 0;
}

.project-files > ul.file-list {
    min-height: 100%;  /* for drop */
}

.project-files ul.file-list.draghov,
.project-files ul.file-list.draghov * {
    background: #88f;
}

button:focus, button:active {
    outline: none;
}

div.ide-bar-status {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;

    background: #dddb;
    padding: .1em .7em .1em 1.5em;
    border-top-left-radius: .5em;
    backdrop-filter: blur(2px);
}

div.ide-bar-status.hidden {
    display: none;
}

div.ide-interim-actions {
    padding: 1em;
}